# Remove the line below if you want to inherit .editorconfig settings from higher directories
root = true

##########################################################################################
#
# CODE STYLE RULES
#
##########################################################################################

# All files
[*]ls'
indent_style = space

# Xml files
[*.{xml,yml,json}]
indent_size = 2
tab_width = 2

# C# Projects
[*.csproj]
indent_size = 4
tab_width = 4

# C# files
[*.cs]
indent_size = 4
tab_width = 4

# New line preferences
end_of_line = lf
insert_final_newline = false

# File scoped namespaces
csharp_style_namespace_declarations = file_scoped:silent

csharp_prefer_braces = when_multiline

# https://learn.microsoft.com/en-gb/dotnet/fundamentals/code-analysis/style-rules/ide0007-ide0008
csharp_style_var_for_built_in_types = true
csharp_style_var_when_type_is_apparent = true
csharp_style_var_elsewhere = true
